body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}

/* Темная тема */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode header {
    background-color: #555;
}
